## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_csv('/train.csv')
test = pd.read_csv('test.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
dataset.head()

   ID vendor+AF8-id  ...  improvement+AF8-charge  total+AF8-amount
0   0             1  ...                     0.3              9.13
1   1             2  ...                     0.3             21.36
2   2             2  ...                     0.3               8.8
3   3             2  ...                     0.3              14.8
4   4             2  ...                     0.3               4.8

[5 rows x 17 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   ID                      1048575 non-null  int64
 1   vendor+AF8-id           1048575 non-null  object
 2   pickup+AF8-loc          1048574 non-null  float64
 3   drop+AF8-loc            1048574 non-null  float64
 4   driver+AF8-tip          1048573 non-null  object
 5   mta+AF8-tax             1048574 non-null  object
 6   distance                1048574 non-null  float64
 7   pickup+AF8-time         1048574 non-null  object
 8   drop+AF8-time           1048574 non-null  object
 9   num+AF8-passengers      1048574 non-null  float64
 10  toll+AF8-amount         1048573 non-null  object
 11  payment+AF8-method      1048574 non-null  float64
 12  rate+AF8-code           1048574 non-null  float64
 13  stored+AF8-flag         1048574 non-null  object
 14  extra+AF8-charges       1048574 non-null  object
 15  improvement+AF8-charge  1048573 non-null  object
 16  total+AF8-amount        1048573 non-null  object
dtypes: float64(6), int64(1), object(10)
memory usage: 136.0+ MB

Droping the rows with null values and ID

In [ ]:
dataset.isnull().sum()

ID                        0
vendor+AF8-id             0
pickup+AF8-loc            1
drop+AF8-loc              1
driver+AF8-tip            2
mta+AF8-tax               1
distance                  1
pickup+AF8-time           1
drop+AF8-time             1
num+AF8-passengers        1
toll+AF8-amount           2
payment+AF8-method        1
rate+AF8-code             1
stored+AF8-flag           1
extra+AF8-charges         1
improvement+AF8-charge    2
total+AF8-amount          2
dtype: int64

In [ ]:
dataset.dropna()
test.dropna()
dataset=dataset.drop('ID',axis=1)
test=test.drop('ID',axis=1)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   vendor+AF8-id           1048575 non-null  object
 1   pickup+AF8-loc          1048574 non-null  float64
 2   drop+AF8-loc            1048574 non-null  float64
 3   driver+AF8-tip          1048573 non-null  object
 4   mta+AF8-tax             1048574 non-null  object
 5   distance                1048574 non-null  float64
 6   pickup+AF8-time         1048574 non-null  object
 7   drop+AF8-time           1048574 non-null  object
 8   num+AF8-passengers      1048574 non-null  float64
 9   toll+AF8-amount         1048573 non-null  object
 10  payment+AF8-method      1048574 non-null  float64
 11  rate+AF8-code           1048574 non-null  float64
 12  stored+AF8-flag         1048574 non-null  object
 13  extra+AF8-charges       1048574 non-null  object
 14  improvement+AF8-charge  1048573 non-null  object
 15  total+AF8-amount        1048573 non-null  object
dtypes: float64(6), object(10)
memory usage: 128.0+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154235 entries, 0 to 154234
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   vendor_id           154235 non-null  int64
 1   pickup_loc          154235 non-null  float64
 2   drop_loc            154235 non-null  float64
 3   driver_tip          154235 non-null  float64
 4   mta_tax             154235 non-null  float64
 5   distance            154235 non-null  float64
 6   pickup_time         154235 non-null  object
 7   drop_time           154235 non-null  object
 8   num_passengers      154235 non-null  float64
 9   toll_amount         154235 non-null  float64
 10  payment_method      154235 non-null  float64
 11  rate_code           154235 non-null  float64
 12  stored_flag         154235 non-null  object
 13  extra_charges       154235 non-null  float64
 14  improvement_charge  154235 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 17.7+ MB

Making datatype of test set and dataset similar

In [ ]:
xt=dataset

In [ ]:
x=xt['total+AF8-amount'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['improvement+AF8-charge'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['extra+AF8-charge'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['toll+AF8-amount'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['mta+AF8-tax'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['driver+AF8-tip'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

In [ ]:
x=xt['vendor+AF8-id'].astype(str)
for key,value in x.iteritems():
    if value.isdigit():
        None
    elif value.replace('.','',1).isdigit() and value.count('.')<2:
        None
    else:
        y=value.split('-')
        xt=xt.drop(key)

Now changing all the converted colums to respected datatype

In [ ]:
xt['total+AF8-amount']=xt['total+AF8-amount'].apply(pd.to_numeric)
xt['improvement+AF8-charge']=xt['improvement+AF8-charge'].apply(pd.to_numeric)
xt['extra+AF8-charges']=xt['extra+AF8-charges'].apply(pd.to_numeric)
xt['toll+AF8-amount']=xt['toll+AF8-amount'].apply(pd.to_numeric)
xt['mta+AF8-tax']=xt['mta+AF8-tax'].apply(pd.to_numeric)
xt['driver+AF8-tip']=xt['driver+AF8-tip'].apply(pd.to_numeric)
xt['vendor+AF8-id']=xt['vendor+AF8-id'].apply(pd.to_numeric)

In [ ]:
xt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048052 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   vendor+AF8-id           1048052 non-null  int64
 1   pickup+AF8-loc          1048052 non-null  float64
 2   drop+AF8-loc            1048052 non-null  float64
 3   driver+AF8-tip          1048052 non-null  float64
 4   mta+AF8-tax             1048052 non-null  float64
 5   distance                1048052 non-null  float64
 6   pickup+AF8-time         1048052 non-null  object
 7   drop+AF8-time           1048052 non-null  object
 8   num+AF8-passengers      1048052 non-null  float64
 9   toll+AF8-amount         1048052 non-null  float64
 10  payment+AF8-method      1048052 non-null  float64
 11  rate+AF8-code           1048052 non-null  float64
 12  stored+AF8-flag         1048052 non-null  object
 13  extra+AF8-charges       1048052 non-null  float64
 14  improvement+AF8-charge  1048052 non-null  float64
 15  total+AF8-amount        1048052 non-null  float64
dtypes: float64(12), int64(1), object(3)
memory usage: 135.9+ MB

### **Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
xt['stored+AF8-flag'] = le.fit_transform(xt['stored+AF8-flag'].astype(str))
xt['drop+AF8-time'] = le.fit_transform(xt['drop+AF8-time'].astype(str))
xt['pickup+AF8-time'] = le.fit_transform(xt['pickup+AF8-time'].astype(str))

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
fea=xt.iloc[:,:15]
fea.head()

   vendor+AF8-id  pickup+AF8-loc  ...  extra+AF8-charges  improvement+AF8-charge
0              1           170.0  ...                1.0                     0.3
1              2           151.0  ...                1.0                     0.3
2              2            68.0  ...                0.0                     0.3
3              2           142.0  ...                0.0                     0.3
4              2           238.0  ...                0.0                     0.3

[5 rows x 15 columns]

In [ ]:
res=xt.iloc[:,15:]
res.head()

   total+AF8-amount
0              9.13
1             21.36
2              8.80
3             14.80
4              4.80

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(fea,res,test_size=0.3,random_state=0)

### **Model 1: Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
prediction1=model1.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
mean_squared_error(prediction1,y_test)
mean_absolute_error(prediction1,y_test)

1.9913970288888185

### **Model 2 : Random Forest Regression **

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor(n_estimators=250,random_state=0)
model2.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
prediction2=model2.predict(X_test)
from sklearn.metrics import mean_squared_error,mean_absolute_error
mean_squared_error(prediction2,y_test)
mean_absolute_error(prediction2,y_test)

0.9017128835687512

### **Encoding the data to be predicted**

In [ ]:
test['pickup_time']=le.fit_transform(test['pickup_time'].astype(str))
test['drop_time']=le.fit_transform(test['drop_time'].astype(str))
test['stored_flag']=le.fit_transform(test['stored_flag'].astype(str))

### **Final Predictions**

In [ ]:
ans=model2.predict(test)

In [ ]:
y=[]
for i in range(154235):
    y.append(i)
predi=pd.DataFrame(ans)
predi.rename(columns={0:'total_amount'},inplace=True)
predi['ID']=y
predi = predi[['ID','total_amount']]

### **Loading results**

In [ ]:
predi.to_csv('results.csv',index=False)
from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive